body{

	font-family: "Verdana", sans-serif;
	font-weight: bold;
	background-image:url('palmen2.JPG');
 	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

h1{
 	font-size: 20px;
	color: #5a5a5a;
}

.suche{
	margin-top: 70px;
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#homebutton{
	width: 75px;
	border-radius: 15px;
	background-color: rgba(0,0,0,0.3);
	margin: auto;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 0px;
}

.inner{
	text-align: center;
}

